.form__fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  margin-top: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label:nth-child(1) {
  margin-top: 0;
}

.form__input {
  padding-left: 24px;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border-radius: 4px;
  min-width: 385px;
  min-height: 60px;
  border: 0;
}

.form__label[for="terms"] {
  display: inline;
  vertical-align: middle;
  margin-left: 12px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input_type_checkbox {
  border-radius: 2px;
  min-width: 20px;
  min-height: 20px;
  vertical-align: middle;
}

.form__button {
  box-sizing: border-box;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 4px;
  min-height: 60px;
  min-width: 385px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;
  transition: opacity ease-in-out 0.2s;
  border: 0;
}

.form__button:hover {
  opacity: 70%;
}
