.reservations {
  background-image: url("/images/background_reservation.svg");
  background-repeat: no-repeat;
  background-color: #d9e7ff;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 0;
}

.form__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
  padding-top: 0;
}

.reservation__form {
}

.form__fieldset {
  padding: 0;
  border: 0;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  margin-top: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  padding-left: 24px;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border-radius: 4px;
}

.form__input[type="text"] {
  border-radius: 4px;
  min-width: 385px;
  min-height: 60px;
}

.form__input[type="number"] {
  border-radius: 4px;
  min-width: 385px;
  min-height: 60px;
}

.form__input[type="email"] {
  border-radius: 4px;
  min-width: 385px;
  min-height: 60px;
}

.form__input[type="datetime-local"] {
  border-radius: 4px;
  min-width: 385px;
  min-height: 60px;
}

.form__fieldset-checkbox {
  padding-left: 60px;
}

.form__label[for="terms"] {
  display: inline;
  vertical-align: middle;
  margin-left: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input[type="checkbox"] {
  border-radius: 2px;
  min-width: 20px;
  min-height: 20px;
  vertical-align: middle;
  padding-left: 50px;
}

.form__button[type="submit"] {
  box-sizing: border-box;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 4px;
  min-height: 60px;
  min-width: 385px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;
  transition: opacity ease-in-out 0.2s;
}

.form__button[type="submit"]:hover {
  opacity: 70%;
}
